services:
  web:
    build: .
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: postgresql://postgres:mysecretpassword@db:5432/home_service_discovery
    depends_on:
      - db

  db:
    image: postgres:latest
    environment:
      POSTGRES_DB: home_service_discovery
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
    ports:
      - "5432:5432"
